body {
  background-color: #f2f2f2;
  /* font-family: "Avenir", sans-serif !important; */
}

/* ============================= Styling for navigation bar ============================= */
.nav-link {
  transition: background-color 0.3s !important;
}

.nav-link:hover {
  background-color: #043f9d;
  color: white !important;
}

.nav-link:hover.text-danger {
  background-color: #dc3545;
  color: white !important;
}

/* ========================== Styling for the module video ========================== */
video {
  width: 80vw;
  height: 60vh;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  margin-top: 0;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ========================== Styling for Back button ========================== */

.back-btn i {
  transition: transform 0.3s ease-in-out;
}

.back-btn:hover i {
  transform: translateX(-3px);
}

.back-btn {
  transition: transform 0.3s ease-in-out;
}

.back-btn:hover {
  transform: translateY(-3px);
}
/* ========================== Styling for Call To Action button ========================== */

.CTA-btn {
  transition: background-color 0.3s ease;
}

.CTA-btn:hover {
  color: #043f9d !important;
  background-color: #f2f2f2 !important;
}

/* ========================== Styling for the card height ========================== */

.card-body-fixed-height {
  height: 200px; /* Set the desired fixed height for the card body */
  overflow: hidden; /* Hide overflow content if the description is too long */
  background-color: black;
}

/* ========================== Styling for the all the tables ========================== */

@media (max-width: 576px) {
  /* Adjust table styles for small screens */
  table {
    font-size: 10px;
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .pagination .page-item .page-link {
    font-size: 10px;
  }

  .search {
    margin-bottom: 5px;
  }
}

.table thead th {
  background-color: #043f9d;
  color: white;
  border: 1px solid #043f9d !important;
}

/* ========================== Styling for Signature button ========================== */
.signature-btn {
  background-color: #043f9d;
  color: white;
  transition: 0.3s ease !important;
}

.signature-btn:hover {
  background-color: #3665b1;
  color: white;
}

/* ========================== Styling for Signature background color ========================== */

.signature-bg-color {
  background-color: #043f9d;
}

.signature-color {
  color: #043f9d;
}

/* ========================== Styling for Root properties (Invalid Message) ========================= */
:root {
  --bs-form-invalid-border-color: #54b4d3;
  --bs-form-invalid-color: #54b4d3;
}
